body{background-color: grey;display: flex;
align-items: center;justify-content: center;}

h1 {font-size: 100px;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{ font-size: 50px;
    margin: 50px;
    border-radius: 15px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: white;
    border: 2mm solid yellow;
}

.container {background-color: black;
display: flex;flex-direction: column;align-items: center;
padding: 100px;}

.button-container{ display: flex;
    justify-content: center;
}

.resultContainer{
padding: 20px;justify-content: center;
align-items: center;
color: lightgreen;font-size: 30px;}

h2{color: yellow;font-size: 40px;font-weight: bold ;}


